.doc {

}

.doc__body {
    padding: 0 5px;
}

.doc__preamble {

}

.doc__title {
    text-align: center;
}


.doc__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: white;
    text-shadow: 0 0 2px black;
}

.doc__table tbody tr:nth-child(n+2){
   border-right: 2px black solid ;
   border-left: 2px black solid ;
}

.doc__table tbody tr:last-child{
    border-bottom: 2px black solid ;

}

.doc__table tbody tr:first-child {
    border-bottom: 2px dashed indigo;
    color: #170101;
    text-shadow: 0 0 2px yellowgreen;
    font-size: 12pt;
    text-align: center;
}

@media (max-width: 770px) {
    .doc__table tbody tr:first-child {
        border-bottom: 2px dashed indigo;
        color: #170101;
        text-shadow: 0 0 2px yellowgreen;
        font-size: 8pt;
        text-align: center;
    }
}



.doc__table td {
    vertical-align: center;
    height: 30px;
}

@media (max-width: 770px) {
    .doc__table tr:nth-child(n+1) td{
        font-size: 6pt;
    }
}

.doc__table tr td:nth-child(3) {
    text-align: justify;
}

.doc__table tr:nth-child(even) {
    background: rgba(134, 55, 155, 0.83) ;
}

.doc__table tr:nth-child(odd) {
    background: rgba(111, 108, 218, 0.88)

}

.fa-plus {
    color: green;
}

.fa-minus {
    color: red;
}


.doc__table tr:first-child {
    background: transparent;
}


@media (max-width: 770px) {
    .doc__table {
        font-size: 8pt;
    }
}


.doc__content {
    margin: 10px 0 0 0;
    background: rgba(108, 7, 112, 0.72);
    border: 2px black solid;
    border-radius: 0.5em;
    overflow: hidden;
}

.paragraph {
    padding: 0 0 30px 0;
}

.paragraph-preamble {
    background: rgba(8, 148, 199, 0.51);
}

.paragraph__title {
    margin: 0;

    color: rgba(255, 255, 255, 0.89);
    font-weight: 1000;
}

.paragraph__body {
    display: flex;
    flex-flow: column;

}

.command {
    padding: 5px 10px;
    margin: 0 0 7px 0;
    border-top: 2px dashed;
    border-bottom: 2px dashed;
    overflow: hidden;
    background: rgba(69, 182, 182, 0.79);

}

.command__body {
    position: relative;
    display: flex;
    padding: 0 0 20px 0;
    min-height: 40px;

}


.command__cmd {
    flex: 0 0 20%
}

@media (max-width: 770px ){
    .command__cmd {
        flex: 0 0 30%
    }
}

.command__text {
    margin: 0;
    color: white;
    text-shadow: 0 0 2px black;

}

.command__en {

}

.command__ru {
}

.command__description {
    margin: 0;
    padding: 3px 0 0 0;
    text-align: justify;
    text-shadow: 0 0 2px black;
    color: white;
    font-size: 10pt;
}

.command__button {
    content: '';
    position: absolute;
    top: 90%;
    transform: translate(-50%, 25%);
    left: 50%;
    border: 10px solid transparent;
    border-top: 10px red solid;
    cursor: pointer;
    animation: button_animation 1s infinite;

}


.command__button_active {
    border: 10px solid transparent;
    border-bottom: 10px yellowgreen solid;
    animation: none;
}


.command__more-info {
    text-align: justify;
    display: none;
    padding: 20px 0px;
}

.command__more-info_active {
    display: block;


}

.syntax {
    color: #f5a4a4;
}

.syntax:after {
    content: '>';
}

.syntax:before {
    content: '<';
}

.command__table {
    width: 100%;

    box-sizing: border-box;
    border-collapse: separate;

}


.command__table tbody {
    color: #ebf5c6;
    font-family: "Courier New", sans-serif;

}


.command__table td {
    padding: 0 5px;
    vertical-align: top;
    text-align: justify;
    box-sizing: border-box;
    font-size: 12pt;
    border: 1px solid #e58787;
}

.command__table td:hover{
    box-shadow: inset 0 0 1px #d08d8d;

}


@media (max-width: 770px) {
    .command__table td {
        font-size: 7pt;
        font-weight: 700;
    }
}

.command__table tr {

}

.command__table td:first-child {
    width: 30%;

}

@media (max-width: 770px) {
    .command__table td:first-child {
        width: 40%;
    }
}

.command__list {
    list-style-type: square;
    padding: 0 0 0 20px;
}

.command__list li {
    margin: 5px 0 0 0;
}

.command__examples{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;

}

.command__picture{
    flex: 0 0 45%;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid;
    box-shadow: inset 0 0 1px black,
     0 0 1px black;
}



.command__picture img{
    display: block;
    border-radius: 1em;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center top;
}

.command__link{
    text-decoration: none;
}


@keyframes button_animation {
    0% {
        transform: translate(0, 2px);
    }

    100% {
        transform: none;
    }

}


