body {
    font-family: 'Balsamiq Sans', cursive;
    background: url("/assets/img/seamless-pattern-business-icons-using-doodle-art_7130-284 (1).jpg") repeat 0 0 / 130px 130px;
    padding: 0;
    margin: 0;

}

.header {
    z-index: 9999;
    background: indigo;
    position: fixed;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.header__logo {
    height: 50px;
    text-decoration: none;
}



.header__logo img{
    border-radius: 50%;
    height: 100%;
    box-shadow: 0 0 3px darkblue;

}

.header__menu {

}

.header__list {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__list li {
    list-style: none;
    margin: 0 0 0 15px;
    transition-duration: 1.5s;
    border-bottom: 2px transparent solid;
}

.header__list li:hover, .header__list li:active {
    transform: translateY(3px);
    border-bottom: 2px white solid;

}


.header__list a {
    display: inline-block;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.header__burger {
    height: 2.5px;
    width: 30px;
    background: white;
    position: relative;
    display: none;
    order: 1;
}

.header__burger:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 300%;
}

.header__burger:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: -300%;
}

.header__burger-menu{
    margin: -25px 0 0 0;
    display: none;
}

.header__burger-list{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 0;
}

.header__burger-list li{
    position: relative;
    list-style: none;
    line-height: 50px;

}

.header__burger-list li:nth-child(-n+4):after{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;

}

.header__burger-list li a{
    text-decoration: none;
    color: white;
    font-size: 20pt;
}

.header__burger-menu_active{
    display: block;
}


@media (max-width: 770px) {
    .header__burger {
        display: block;
    }


    .header__menu{
        display: none;
    }




}

.content {
    padding: 80px 0 0 0;
}


.news {
    padding: 0 10px;
}


.news__body {

}

.news__before {
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
    background: radial-gradient(rgba(185, 129, 232, 0.53), rgba(185, 129, 232, 0.53), transparent);
    padding: 10px;


}

.news__before-title {
    margin: 0;
    color: #ffffff;
    text-shadow: 0 0 6px black,
    0 0 8px yellow;
    letter-spacing: 3px;
}

.news__before__words {
    text-align: justify;
    font-size: 16px;
    color: #ffffff;
    margin: 20px 0;
    text-shadow: 0 0 3px black;

}

.news__bubble_red {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: radial-gradient(white, red);
    opacity: 0.5;
    right: 0;
    bottom: 0;
    animation: magic_bubble-red 45s infinite linear;

}

.news__bubble_blue {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: radial-gradient(white, blue);
    opacity: 0.5;
    right: 5%;
    bottom: 3%;
    animation: magic_bubble-blue 80s infinite linear;
}


.news__bubble_yellowgreen {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: radial-gradient(white, yellowgreen);
    opacity: 0.5;
    right: 3%;
    bottom: 10%;
    animation: magic_bubble-yg 35s infinite linear;
}


.news__container {
    display: flex;
    flex-flow: wrap column;
}

.news__element {
    background: rgba(202, 138, 239, 0.89);
    margin: 5px 0 0 0;
    border-radius: 1em;
    border: 1px black solid;
    box-shadow: inset 0 0 3px black;
    position: relative;

}
.news__info-field {
    height: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1em 1em 0 0;
    background: #6c0770;
}


.news__tickets{
    display: flex;
    padding: 1px;
    width: 50%;

}

.ticket{
    font-family: "Courier New", sans-serif;
    font-weight: 600;
    margin: 0 0 0 10px ;
}


.ticket-fix{
    color: green;
}

.ticket-update{
    color: rosybrown;
}

.news__info-button {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.news__info-button:hover + .news__info-content{
    display: block;
}

.news__info-button:active + .news__info-content{
    display: block;
}



.news__info-content {
    position: absolute;
    display: none;
    width: 30%;
    left:70%;
    top:100%;
    z-index: 99;

}



.news__info-text {
    color: white;
    margin: 0;
    font-size: 13px;
}


.news__content-field {
    padding: 25px 5px 0 5px;
}

@media (min-width: 767px) {
    .news__container {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .news__element {
        width: 45%;
    }
}


.news__title {
    text-align: center;
    margin: 0;
    position: relative;
    color: #6c0770;
    text-shadow: 0 0 2px #efe8e8,
    0 0 5px darkblue;
    font-size: 16pt;
    padding: 2px;
    letter-spacing: 2px;

}

.news__title:after{
    content: '';
    position: absolute;
    background: silver;
    width: 90%;
    height: 2px;
    top: 100%;
    left: 5%;
    border-radius: 50%;

    box-shadow: 0 1px 3px silver;
}

.news__title:before {
    content: '';
    position: absolute;
    transition-duration: 3s;
    width: 5%;
    height: 5px;
    left: 47.5%;
    top: 95%;
    background: radial-gradient(yellow, silver);
    box-shadow: 0 0 10px yellowgreen;
    z-index: 1;
    border-radius: 50%;
}

.news__title:hover:before{
    width: 90%;
    height: 2px;
    top: 100%;
    left: 5%;
}



.news__img {
    margin: 10px 0 0 0;
    width: 100%;
    display: block;
    border-radius: 0 0 5em 0;
    box-shadow: 0 0 3px black;
}

.news__text {
    text-align: justify;
    color: white;
    font-family: 'Balsamiq Sans', cursive;

}

.news__feedback{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 15px 20px;
}

.news__button{
    background: rgba(223, 175, 236, 0.66);
    flex-basis: 200px;
    height: 30px;
    text-align: center;
    transition-duration: 0.5s;
    border-radius: 0.5em;
    border: solid 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px #c350d5,
     inset 0 0 5px #ac05ef;
}

.news__button:hover, new__button:active{
    box-shadow: 0 0 5px #11e35a,
    inset 0 0 5px #5c942f;
}

.news__button a{
    line-height: 30px;
    font-size: 14pt;
    text-decoration: none;
    color: rgba(45, 105, 4, 0.78);
    letter-spacing: 2px;
    text-shadow:  0 0 2px #a60eb6;
}

.footer{
    margin: 20px 0 0 0 ;
    background: rgba(75, 0, 130, 0.6);
    color: #ffffff;
}

@media (max-width: 770px) {
    .footer{
        font-size: 10pt;
    }
}

.footer__body{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.footer__contacts{
    min-height: 130px;
}

.footer__contacts-title{
    margin: 0;
    text-shadow: 0 0 5px rgba(2, 2, 2, 0.8);

}

.footer__contacts-list{
    margin: 0;
    padding-left: 20px;
}

.footer__contacts-list li{
    list-style: none;
    line-height: 30px;
   }


.footer__links{
    min-height: 130px;
}


.footer__links-title{
    margin: 0;
    text-shadow: 0 0 5px rgba(2, 2, 2, 0.8);

}

.footer__links-list{
    margin: 0;
    padding-left: 20px;
}

.footer__links-list li{
    line-height: 30px;
    list-style: none;

}

.footer__links-list li a{
    text-decoration: none;
    color: inherit;
}

.footer__qr{

    flex-basis: 300px;
    display: none;
}

.footer__qr img{
    width: 50%;
    float: left;
    display: block;

}

.footer__qr-text{
    width: 50%;
    margin: 0;
    height: 100%;
    max-height: 200px;
    float: left;
    font-size: 9pt;
    text-align: justify;
}

@media (min-width: 770px) {
    .footer__qr{
        display: flex;
        align-items: center;
    }
}



@keyframes magic_bubble-yg {
    0% {
        right: 3%;
        bottom: 10%;
        width: 50px;
        height: 50px;
    }

    25% {
        right: 20%;
        bottom: 50%;
        width: 40px;
        height: 40px;
    }

    50% {
        right: 40%;
        bottom: 60%;
        width: 32px;
        height: 32px;
    }

    75% {
        right: 90%;
        bottom: 20%;
    }

    100% {
        right: 3%;
        bottom: 10%;
    }
}

@keyframes magic_bubble-blue {
    0% {
        right: 5%;
        bottom: 3%;
        width: 50px;
        height: 50px;
    }

    25% {
        right: 10%;
        bottom: 95%;
        width: 60px;
        height: 60px;
    }

    50% {
        right: 90%;
        bottom: 70%;
        width: 55px;
        height: 55px;
    }

    75% {
        right: 75%;
        bottom: 10%;
        width: 70px;
        height: 70px;
    }

    100% {
        right: 5%;
        bottom: 3%;
    }
}


@keyframes magic_bubble-red {
    0% {
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
    }

    25% {
        right: 90%;
        bottom: 5%;
        width: 42px;
        height: 42px;
    }

    50% {
        right: 70%;
        bottom: 80%;
    }

    75% {
        right: 0%;
        bottom: 80%;
    }

    100% {
        right: 5%;
        bottom: 3%;
    }
}